.reports-container{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.reports-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reports-header h2{
    font-style: italic;
}

.button-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    height: 40px;
    /* width: 140px; */
    padding-left: 20px;
    padding-right: 20px;
}

.button:hover{
    background-color: #02934367;
}

/* search field */
.search-field{
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
    margin-top: 10px;
}
.search-field form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.search-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.search {
    padding: 8px;
    padding-right: 30px; /* Make space for the clear button */
    /* min-width: 400px; */
    width: 100%;
    border: 1px solid #2f4f4f;
    border-radius: 10px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1),
                inset -5px -5px 5px rgba(0, 0, 0, 0.1);
}

.search-button{
    /* margin-left: -20px; */
    width: 120px;
    padding: 8px;
    color:#ffffff;
    font-weight: bold;
    border: transparent;
    border-radius: 10px;
    background-color: #2f4f4f;
}
.search-button:hover{
    background-color: #7c7e7e;
}


.clear-btn {
    position: absolute;
    top: 43%;
    right: 5px;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #888;
}

.clear-btn:hover {
    color: #000;
}


.student-details{
    display: none;
    background-color: #025e1f54;
    border-radius: 10px;
    padding: 10px;
}
.student-details .close-button{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
}
.student-details .action-button{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    /* background-color: #0056b3; */
}
.student-details .action-button #deleteAccountButton{
    align-items: center;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 14px;
}
.student-details .action-button #deleteAccountButton:hover{
    padding: 1px 8px;
    font-size: 14px;
}

.close-button Label{
    font-size: 20px;
    font-weight: bold;
}
.close-button button{
    background-color: #dc3f018c;
    color: #fff;
    border-radius: 10px;
    padding: 5px 20px;
}
.close-button button:hover{
    background-color: #681e01f1;
    color: #fff;
    border-radius: 10px;
}

.filter-container{
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.image-label{
    padding: 10px;
    /* background-color: #888; */
}

.rightside{
    /* background-color: #888; */
    width: 100%;
}

.filter1, .filter2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    width: 100%;
    gap: 10px;
}
.filter1 .name-label,
.filter1 .student-label{
    width: 100%;
}
.filter1 label{
    font-weight: bold;
}
.filter2 label{
    font-weight: bold;
}
.filter1 input[type='text'], 
.filter1 input[type='email']{
    height: 30px;
    width: 100%;
}
.filter1 input[type='number']{
    height: 30px;
    width: 32.6%;
}
.filter1 .gender{
    height: 30px;
    width: 160px;
}

.filter2 .email-label,
.filter2 .role-label{
    width: 100%;
}
.filter2 input[type='text']{
    height: 30px;
    width: 50%;
}
.filter2 input[type='email']{
    height: 30px;
    width: 100%;
}
.filter2 .year-level, .course, .section, .sem{
    height: 30px;
    width: 150px;
}

.balance-details{
    padding-bottom: 20px;
}

.balance-details label{
    font-weight: bold;
}
.payment-history label{
    font-weight: bold;
}


/* table */
.table {
    width: 100%;
    border-collapse: collapse;
    border-collapse: separate; /* Separate borders to apply radius */
    border-spacing: 0; /* Remove spacing between cells */
    border-radius: 10px; /* Adjust radius as needed */
    /* overflow: hidden; */
    width: 100%;
    /* border: 2px solid #ddd;  */
}
.table thead{
    padding-bottom: 10px;
}
.table th, .table td {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    /* border: 1px solid #ccc; */
    text-align: left;
    /* border-radius: 50px; */
}

/* Remove border-radius from the first th element on the left of the table */
.table th:first-child{
    border-top-left-radius: 5px;
    border-left: 1px solid #ccc;
}
/* Remove border-radius from the last th elements on the right of the table */
.table th:last-child{
    border-top-right-radius: 5px;
    border-right: 1px solid #ccc;
}
/* Remove border-radius from the first th element on the left of the table */
.table td:first-child{
    border-left: 1px solid #ccc;
}
/* Remove border-radius from the last th elements on the right of the table */
.table td:last-child{
    border-right: 1px solid #ccc;
}
.table th {
    background-color: #2f4f4f;
    color: #fff;
    align-items: center;
    text-align: left;
    /* margin-bottom: 10px; */
}

.table tr{
    border-radius: 20px;
    transition: transform 0.3s ease; /* Add transition for smooth scaling */
}
.table tbody tr:hover{
    background-color: #9cb89d;
    transform: scale(1.01); /* Enlarges the card to 105% */
}

.balance-table-th tr th{
    width: 50%;
}




.pagination {
    /* margin-top: 20px; */
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
    gap: 5px;
}

.pagination ul li {
    display: inline;
}
.pagination ul li a:hover {
    background-color: rgb(54, 130, 56, 0.5);
}

.pagination ul li a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    color: #333;
    border-radius: 5px;
}

.pagination ul li a.active {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
}


/* upload From Uiverse.io by vinodjangid07 */ 
.add-Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    /* border: 1px solid #0a4d00; */
    background-color: #fff;
  }
  
  /* plus sign */
.add-Btn .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.add-Btn .sign img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
  }
  
  /* text */
.add-Btn .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: rgb(0, 90, 21);
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
    width: 200px;
  }
  /* hover effect on button width */
.add-Btn:hover {
    width: 160px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
.add-Btn:hover .sign {
    width: 20%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
.add-Btn:hover .text {
    opacity: 1;
    width: 80%;
    transition-duration: .3s;
    padding-right: 10px;
    justify-content: center;
  }
/* button click effect*/
.add-Btn:active {
    transform: translate(2px ,2px);
  }




/* delete confirmation modal */
.delete-modal{
    display:none; 
    position:fixed; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background:rgba(0,0,0,0.5); 
    z-index:9999;
}
.delete-modal-content{
    background:rgb(239, 239, 239);
    padding:20px; 
    margin:15% auto; 
    width:100%; 
    max-width:460px; 
    border-radius:8px; 
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
}
.delete-modal-content .par{
    background-color: #fff;
    padding: 20px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-weight: bold;
    /* border: 1px solid #000; */
    border-radius: 10px;
    box-shadow: 2px 10px 15px -3px rgba(0, 0, 0, 0.1), 2px 4px 6px -2px rgba(0, 0, 0, 0.1);
}
.delete-modal-content form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 50px;
    padding: 20px;
    margin-top: 20px;
}
.delete-modal-content form .no-button{
    height: 33px;
    width: 120px;
    background-color: #0165bc;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 17px;
}
.delete-modal-content form .no-button:hover{
    height: 30px;
    width: 100px;
    font-size: 15px;
}
.delete-modal-content form .yes-button{
    height: 33px;
    width: 120px;
    background-color: #ba1300;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 17px;
}
.delete-modal-content form .yes-button:hover{
    height: 30px;
    width: 100px;
    font-size: 15px;
}
